<div class="ui vertical segment">
  <div class="ui very relaxed stackable center aligned page grid">
    <div class="row">
      <div class="sixteen wide column">

        <div class="ui feed">

          {% for experience in contents.experiences %}
            {% include 'experience_row' with experience %}
          {% endfor %}

        </div><!-- /feed -->

      </div>
    </div>
  </div>
</div>
