<div class="ui inverted footer vertical segment">
  <div class="ui stackable center aligned page grid">
    <div class="ten wide column">
      <div class="ui two column center aligned stackable grid">
        <div class="column">
          <h5 class="ui inverted header">Sections</h5>
          <div class="ui inverted link list">
            {% with_scope published: true %}
              {% for section in contents.sections %}
                <a class="item" href="/{{ section._slug }}">{{ section.title }}</a>
              {% endfor %}
            {% endwith_scope %}
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">Social Media</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://www.github.com">GitHub</a>
            <a class="item" href="https://www.twitter.com">Twitter</a>
            <a class="item" href="https://www.linkedin.com">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <h5 class="ui inverted header">Contact Me</h5>
      <addr>
        123 Fake Street <br>
        Someplace, Real, 12345 <br>
      </addr>
      <p>(800) 555-1212</p>
    </div>
  </div>
</div>
