{% capture 'icon_class' %}ui massive {{ icon }} icon{% endcapture %}

<div class="row">
  <div class="column">
    <h1 class="ui huge header">
      {{ text }}
    </h1>
    <div class="ui horizontal divider">
      <i class="{{ icon_class }}"></i>
    </div>
  </div>
</div>
